/*---------------------------------------------FONTS--------------------------------------*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}



/*------------------------------------- GENERAL -------------------------------------------*/

body {
    margin: 0px;
    padding : 0px;
    font-family: 'OpenSans' !important;
} 

.block {
    width : 100%;
    position: relative;
    float: left;
    overflow: hidden;
}


/*--------------------------------------- HEADER ------------------------------------------*/

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background: rgba(50,50,50,1);
    height: 60px;
    box-shadow: -1px -3px 10px 4px rgba(0,0,0,0.75);
    border-bottom: 1px solid rgba(0,0,0,0);
}

.logo {
    position: absolute;
    top: -2px;
    left: 60px;
    width: 160px;
}

.header-search-bar-wrapper {
    position: relative;
    float: left;
    width: calc(100% - 850px);
    height:36px;
    background-color: rgba(255,255,255,1);
    border-radius: 6px;
    color: #444;
    left: 250px;
    top: 12px;
    overflow: hidden;
}

.header-search-bar-wrapper>input {
    height: 36px;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    border: 0px;
    color: #000;
    line-height: 20px;
    padding-left: 10px;
    font-weight: 200;
    width: calc(100% - 150px);
}

.header-search-icon {
    font-size: 20px !important;
    padding: 12px 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgba(40,40,40,0.1);
    border-right: 1px solid #aaa;
    display: inline !important;
}

.header-input-search {
    float: right;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 37px;
    border: 0px;
    width: 80px;
    background: #c0392b;
    color: white;
    outline: none;
}

.nav-buttons {
    width: auto;
    float : right;
    padding-top: 4px;
    margin-right: 50px;
}

.button {
    width: auto;
    position: relative;
    float: left;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px;
}

.makeup {
    transition: all 0.5s;
    border-radius: 4px;
    border: 1px solid white;
}

.makeup:hover {
    border-radius: 4px;
    border: 1px solid white;
    background: white;
    color: black;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #666;
}



@media (max-width: 500px) {
    .alt-search {
        display: none !important;
    }
    .b1, .b2, .b3 {
        display: none;
    }
    .logo {
        left: calc(50% - 80px);
    }
}

@media (max-width: 768px) and (min-width: 500px) {
    .header-search-bar-wrapper {
        display: block;
    }
    .alt-search {
        display: none !important;
    }
    .b1 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header-search-bar-wrapper {
        display: none;
    }
    .alt-search {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-search-bar-wrapper {
        display: none;
    }
    .alt-search {
        display: block;
    }
}

@media (min-width: 1200px) {
    .header-search-bar-wrapper {
        display: block;
    }
    .alt-search {
        display: none !important;
    }
}


/*------------------------------ ALTERNATIVE SEARCH BOX --------------------------------*/

.alt-search {
    position: fixed;
    top: 60px;
    z-index: 1001;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

.alt-search-bar-wrapper {
    position: relative;
    float: left;
    width: 90%;
    height:36px;
    background-color: rgba(255,255,255,1);
    border-radius: 6px;
    color: #444;
    left: 5%;
    overflow: hidden;
}

.alt-search-bar-wrapper>input {
    height: 36px;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    border: 0px;
    color: #000;
    line-height: 20px;
    padding-left: 10px;
    font-weight: 200;
    width: calc(100% - 150px);
}

.alt-search-icon {
    font-size: 20px !important;
    padding: 12px 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgba(40,40,40,0.1);
    border-right: 1px solid #aaa;
    display: inline !important;
}

.alt-input-search {
    float: right;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 37px;
    border: 0px;
    width: 80px;
    background: #c0392b;
    color: white;
    outline: none;
}




/*----------------------------- FOOTER --------------------------------*/

.footer {
    height: auto;
    background-color: #202020;
    padding: 20px 0px;
}

.links-wrapper, .social-wrapper {
    text-align: center;
}

.footer_links, .social_links {
    text-transform: uppercase;
    font-weight: 800;
    color: #eee !important;
    list-style: none;
    font-size: 15px;
}

.social_links {
    font-size: 40px;
    font-weight: 900;
}

.footer_links>li, .social_links>li {
    display: inline-block;
    padding: 20px;
    margin-top: 10px 0px;
}

a {
    color: white !important;
}

.facebook-col:hover {
    color: #3b5998;
}

.youtube-col:hover {
    color: #bb0000;
}

.instagram-col:hover {
    color: #675144;
}

.google-col:hover {
    color: #dd4b39;
}

@media (max-width: 500px) {
    .footer_links {
        margin-left: 0px;
        padding-left: 0px;
    }
    .footer_links > li {
        padding: 5px 15px;
        font-size: 10px;
    }
    .social_links {
        font-size: 30px;
    }
    .social_links > li {
        padding: 10px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .footer_links > li {
        padding: 5px;
    }
}


/*----------------------------- COPYRIGHT --------------------------------*/

.copyright {
    height: auto;
    padding-bottom: 20px;
    background-color: #111;
    color:  #555;
    font-size: 15px;
}

.contact {
    position: relative;
    float: right;
    width: auto;
    top: 8px;
    right: 20px;
}

.state {
    position: relative;
    float: left;
    width: auto;
    top: 8px;
    left: 20px;
}


@media (max-width: 768px) and (min-width: 500px) {
    .state, .contact {
        position: inherit;
        float: none;
        left: 0px;
        right: 0px;
        padding: 5px;
    }
    .copyright {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .state, .contact {
        position: inherit;
        float: none;
        left: 0px;
        right: 0px;
        padding: 5px;
    }
    .copyright {
        text-align: center;
    }
}